## IDE - Visual Studio and VS Code
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

## Visual Studio cache/options directory
.vs/

## MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

## Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.[Oo]bj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.meta
*.tlog

## macOS specific
.DS_Store
.AppleDouble
.LSOverride

## Rider
.idea/

## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates